---
// HomePageContent.astro - Component
import GameCard from "./GameCard.astro";
// Define the games array
const games = [
    {
        title: "Number Crunch Tiles",
        androidUrl:
            "https://play.google.com/store/apps/details?id=com.robinson.nc2048",
        iosUrl: "https://apps.apple.com/us/app/number-crunch-tiles/id6462944098",
        imageUrl: "/images/nct-frame.png",
        altText: "Gameplay screenshot of Number Crunch Tiles",
    },
    {
        title: "Word Match Tiles",
        androidUrl:
            "https://play.google.com/store/apps/details?id=com.robinson.wordmatchtiles",
        iosUrl: "https://apps.apple.com/us/developer/cole-robinson/id1703674983",
        imageUrl: "/images/wmt-frame.png",
        altText: "Gameplay screenshot of Word Match Tiles",
    },
];
---

<main class="w-1/2 mx-auto pt-24">
    <section class="text-center">
        <h1 class="text-4xl font-bold mb-2">
            Challenging Minds with <br /> Innovative Mobile Puzzle Games
        </h1>
        <p class="text-lg mb-4 pt-4">
            Robinson Gaming is an independent mobile gaming studio based out of
            Orange County, California. We aim to create engaging and
            thought-provoking puzzle games that are enjoyed by players around
            the world.
        </p>
        <a
            id="games"
            href="/about"
            class="hover:opacity-80"
            aria-label="Learn more about Robinson Gaming"
        >
            <img
                src="/images/about_button.png"
                alt="Learn more about us"
                class="w-32 mx-auto"
            />
        </a>
        <h2 class="text-3xl font-bold mt-8 mb-4">Games</h2>
    </section>

    <!-- Games Showcase Section -->
    <div class="grid grid-cols-1 gap-y-10 my-4">
        {
            games.map((game) => (
                <GameCard
                    title={game.title}
                    androidUrl={game.androidUrl}
                    iosUrl={game.iosUrl}
                    imageUrl={game.imageUrl}
                    altText={game.altText}
                />
            ))
        }

        <article>
            <img
                src="/images/rbm-frame.png"
                alt="Game 2 screenshot"
                class="w-full h-auto"
            />
        </article>
    </div>
</main>
