---
// HomePageContent.astro - Component
import GameCard from "./GameCard.astro";
// Define the games array
const games = [
    {
        title: "Word Match Tiles",
        androidUrl:
            "https://play.google.com/store/apps/details?id=com.robinson.wordmatchtiles",
        iosUrl: "https://apps.apple.com/us/app/word-match-tiles/id6477621209",
        imageUrl: "/images/wmt-frame.png",
        altText: "Gameplay screenshot of Word Match Tiles",
    },
    {
        title: "Number Crunch Tiles",
        androidUrl:
            "https://play.google.com/store/apps/details?id=com.robinson.nc2048",
        iosUrl: "https://apps.apple.com/us/app/number-crunch-tiles/id6462944098",
        imageUrl: "/images/nct-frame.png",
        altText: "Gameplay screenshot of Number Crunch Tiles",
    },
];
---

<main class="max-w-4xl w-full mx-auto px-4 sm:px-6 lg:px-8 pt-28">
    <section class="text-center">
        <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold mb-2">
            Robinson Gaming
        </h1>
        <p class="text-base sm:text-lg mb-4 pt-4">
            <!-- short professional description  -->
            As an independent developer, I focus on creating engaging and challenging
            mobile puzzle games, continually enhancing my game development skills
            and Unity Game Engine proficiency.
        </p>
        <a
            id="games"
            href="/about"
            class="hover:opacity-80"
            aria-label="Learn more about Robinson Gaming"
        >
            <img
                src="/images/about_button.png"
                alt="Learn more about us"
                class="w-24 md:w-32 mx-auto"
            />
        </a>
        <h2 class="text-xl md:text-3xl font-bold mt-8 mb-4">Games</h2>
    </section>
    <!-- Games Showcase Section -->
    <div class="grid grid-cols-1 gap-y-10 my-4">
        {
            games.map((game) => (
                <GameCard
                    title={game.title}
                    androidUrl={game.androidUrl}
                    iosUrl={game.iosUrl}
                    imageUrl={game.imageUrl}
                    altText={game.altText}
                />
            ))
        }

        <article>
            <img
                src="/images/js-frame.png"
                alt="Game 2 screenshot"
                class="w-full h-auto"
            />
        </article>
    </div>
</main>
