---
// MetaTags.astro
const { title, description } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<meta name="description" content={description} />
<link rel="icon" type="image/png" href="/images/favicon.png" />
<link
    rel="canonical"
    href={`https://www.robinsongaming.com/${Astro.url.pathname}`}
/>
<meta property="og:type" content="website" />
<meta
    property="og:url"
    content={`https://www.robinsongaming.com/${Astro.url.pathname}`}
/>
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta
    property="og:image"
    content="https://robinsongaming.com/public_images/social-media-photo.png"
/>
<meta name="twitter:card" content="summary_large_image" />
<meta
    name="twitter:url"
    content={`https://www.robinsongaming.com/${Astro.url.pathname}`}
/>
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta
    name="twitter:image"
    content="https://robinsongaming.com/public_images/social-media-photo.png"
/>
